a {
	text-decoration: none;
}

.title-font {
	font-family: 'Ubuntu', sans-serif;
}

.title-container {
	margin-top: 20px;
	max-width: 500px;
	padding-bottom: 0px;
	margin-bottom: 10px;
    font-weight: 300;
}

.title {
	text-align: center;
	font-weight: 300;
}

.card {
	width: 400px;
	height: 500px;
	box-shadow: 5px 5px grey;
	border: 2px solid black;
	display: block;
	margin: 0px auto;
	border-radius: 7px;
	position: relative;
    max-width: 90%;
}

.img-container {
	position: relative;
}

.item-img {
    max-width: 90%;
    max-height: 250px;
	display: block;
	margin: 0px auto;
    padding-top: 20px;
}

.text-container {
    position: relative;
	width: 80%;
	display: block;
    margin: 0px auto;
    margin-top: 40px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid black;
}

.description {
	font-size: 20px;
	text-align: center;
    padding: 5px;
}

.btn {
	font-size: 18px;
	width: 200px;
	position: relative;
	box-shadow: 4px 5px grey;
	transition-duration: 0.3s;
	border-radius: 4px;
	cursor: pointer;
	font-weight: 400;
	margin-bottom: 20px;
}

.btn-emoji {
	position: absolute;
	font-size: 20px;
	left: 20px;
	bottom: 4px;
	transition-duration: 0.1s;
}

.btn-emoji-right {
	right: 20px;
	left: auto;
}

.share-container {
	position: absolute;
	display: block;
    bottom: 0px;
    width: 100%;
}

.share-wrapper {
    display: block;
    margin: 0px auto;
    width: 104px;
}

.social {
	text-align: center;
	display: inline;
	margin: 0px auto;
	width: 50px;
	height: 30px;
	margin-bottom: 10px;
	border: none;
	color: white;
	font-size: 10px;
	position: relative;
	outline: none;
	cursor: pointer;
	transition-duration: 0.1s;
	border-radius: 2px;
	font-weight: 700;
    letter-spacing: 0px;
    border: 1px solid black;
}

.facebook-btn {
	background-color: #3b5998;
}

.facebook-btn:hover {
	background-color: #2f4679;
}

.twitter-btn {
	background-color: #38A1F3;
}

.twitter-btn:hover {
	background-color: rgb(51, 146, 218);
}

.icon {
	position: absolute;
	height: 25px;
	left: 20px;
	top: 13px;
}

.btn:hover {
	box-shadow: 1px 1px grey;
	transform: translate(2px, 2px);
	transition-duration: 0.3s;
}