a {
	text-decoration: none;
}

.title-font {
	font-family: 'Ubuntu', sans-serif;
}

.title-container {
	margin-top: 20px;
	width: 700px;
    max-width: 90%;
	padding-bottom: 0px;
	margin-bottom: 10px;
    font-weight: 300;
    /*border: 2px solid black;
    border-radius: 7px;
    background-color: #F4E3EC;*/
}

.title {
	text-align: center;
	font-weight: 300;
}

.card {
	width: 400px;
	height: 500px;
	box-shadow: 5px 5px grey;
	border: 2px solid black;
	display: block;
	margin: 0px auto;
	border-radius: 7px;
	position: relative;
    max-width: 90%;
}

.guilt-footer {
    position: relative;
    text-align: center;
    padding-top: 0px;
    font-size: 14px;
}

.img-container {
	position: relative;
}

.item-img {
    max-width: 90%;
    max-height: 250px;
	display: block;
	margin: 0px auto;
    margin-top: 20px;
}

.text-container {
    position: relative;
	width: 80%;
	display: block;
    margin: 0px auto;
    margin-top: 40px;
    border-radius: 5px;
    background-color: white;
    border: 2px solid black;
}

@media only screen and (max-height: 670px) {
    .title-container {
        margin-top: 0px;
        padding-top: 0px;
    }
    .card {
        height: 450px;
    }
    .item-img {
        max-height: 200px;
    }
}

.description {
	font-size: 20px;
	text-align: center;
    padding: 5px;
}

.btn {
	font-size: 18px;
	width: 200px;
	position: relative;
	box-shadow: 4px 5px grey;
	transition-duration: 0.2s;
	border-radius: 4px;
	cursor: pointer;
	font-weight: 400;
	margin-bottom: 20px;
    margin-top: 30px;
}

.btn-emoji {
	position: absolute;
	font-size: 20px;
	left: 20px;
	bottom: 4px;
	transition-duration: 0.1s;
}

.btn-emoji-right {
	right: 20px;
	left: auto;
}

.share-container {
	position: absolute;
	display: block;
    bottom: 0px;
    width: 100%;
}

.share-wrapper {
    display: block;
    margin: 0px auto;
    width: 105px;
}

.social {
	text-align: center;
	display: inline;
	margin: 0px auto;
	width: 50px;
	height: 30px;
	margin-bottom: 10px;
	border: none;
	color: white;
	font-size: 10px;
	position: relative;
	outline: none;
	cursor: pointer;
	transition-duration: 0.1s;
	border-radius: 2px;
	font-weight: 700;
    letter-spacing: 0px;
}

.facebook-btn {
	background-color: #3b5998;
}

.facebook-btn:hover {
	background-color: #2f4679;
}

.twitter-btn {
	background-color: #38A1F3;
}

.twitter-btn:hover {
	background-color: rgb(51, 146, 218);
}

.icon {
	position: absolute;
	height: 25px;
	left: 20px;
	top: 13px;
}

.btn:hover {
	box-shadow: 1px 1px grey;
	transform: translate(2px, 2px);
	transition-duration: 0.3s;
}

a {
    color: black;
    text-decoration: underline;
    cursor: pointer;
    transition-duration: 0.3s;
}

a:hover {
    color: rgb(72, 115, 255);
}

.left-link {
    float:right;
}

.link-container {
    padding: 30px;
    padding-top: 20px;
    font-size: 14px;
}

.next {
    display: block;
    width: 50px;
    position: absolute;
    right: calc(50% - 300px);
    top: 350px;
    border-radius: 100%;
    transition-duration: 0.2s;
}

.left {
    right: auto;
    left: calc(50% - 300px);
}

.next:hover {
    width: 55px;
    background-color: #2bb86c;
    right: calc(50% - 304px);
    top: 348px;
}

.left:hover {
    right: auto;
    left: calc(50% - 304px);
}

@media only screen and (max-width: 689px) {
    .next {
        display: none;
    }
}