.backdrop {
    /*not sure if we want to add something as background element*/
}

.title-font {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -1px;
    word-spacing: 2px;
}

.header {
    position: fixed;
    top: 0;
    margin-left: 20px;
}

.header-title {
    font-size: 20px;
}

.header-img {
    position: absolute;
    width: 30px;
    left: 90px;
    top: 18px;
}

.title-container {
    position: relative;
    width: 95%;
    margin: 0px auto;
    display: block;
    margin-top: 20%;
    padding-bottom: 20px;
    padding-top: 20px;
    max-width: 900px;
}

.title {
    font-weight: 500;
    text-align: center;
    margin-bottom: 5%;
}

#search-bar {
    width: 70%;
    display: block;
    margin: 0px auto;
    border-radius: 3px;
    border: 2px solid black;
    height: 30px;
    font-size: 20px;
    max-width: 600px;
    padding-left: 4px;
    outline: none;
    padding: 5px;
}

.cost-container {
    display: block;
    margin: 0px auto;
    text-align: center;
    padding-bottom: 2%;
}

.cost-title {
    font-weight: 500;
    margin: 0px;
    border: 0px;
    display: inline-block;
    margin-right: 20px;
}

#cost-bar {
    width: 100px;
    display: inline;
    margin: 0px auto;
    border-radius: 3px;
    border: 2px solid black;
    height: 27px;
    font-size: 17px;
    outline: none;
    padding: 4px;
}

.btn {
    text-align: center;
    display: block;
    margin: 0px auto;
    margin-top: 10px;
    width: 140px;
    height: 40px;
    background-color: white;
    color: black;
    outline: none;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    box-shadow: 5px 5px grey;
    transition-duration: 0.2s;
    border: 2px solid black;
}

.btn:hover {
    background-color: #2bb86c;
}

.btn:hover {
	box-shadow: 1px 1px grey;
	transform: translate(2px, 2px);
	transition-duration: 0.3s;
}

@media only screen and (min-width: 976px) {
    .title-container {
        margin-top: 10%;
    }
}

.footer {
    position: fixed;
    bottom: 0;
    margin-left: 30px;
    font-size: 16px;
}

.footer-subtitle {
    margin-top: 10px;
}

.link {
    color: #0A61FE;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 800px) {
    .title {
        font-size: 25px;
    }
    .cost-title {
        font-size: 18px;
    }
    .btn {
        font-size: 17px;
        width: 100px;
    }
    .header {
        margin-left: 15px;
    }
    .header-title {
        font-size: 17px;
    }
    .header-img {
        width: 25px;
        left: 75px;
        top: 15px;
    }
    .footer {
        margin-left: 15px;
        font-size: 14px;
    }
}